<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
  <title>Travel Times</title>
</head>
<body>
  <h1>Clients</h1>
  <ul class="clients">
    <% for(var i=0; i<clients.length; i++) {%>
      <li class="client">
        <a href='clients/<%= clients[i].id %>'>
          <span><%= clients[i].name %></span>
          <span><%= clients[i].postcode %></span>
        </a>
      </li>
    <% } %>
  </ul>
</body>
</html>
