<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
  <title>Travel Times</title>
</head>
<body>
  <h1><%= client.name %></h1>
  <ul class="results">
    <% for(var i=0; i<results.length; i++) {%>
      <li class="candidate">
        <span><%= results[i].name %></span>
        <span><%= results[i].distance.text %></span>
        <span><%= results[i].duration.text %></span>
      </li>
    <% } %>
  </ul>

</body>
</html>
